body {
    font-size: 20px;
}
p {
    background-color: aqua;
    
}
#a {
    background-color: blue;
}
.a {
    background-color: blueviolet;
    font-size: 35px;
}
p.a {
    background-color: brown;
}
p#a {
    background-color: burlywood;
}
