* {
    padding: 0px;
    margin: 0px;
}
body {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    
}
nav {
    height: 50px;
    background-color: #531644;
}
header {
    height: 100px;
    background-color: #1c1653;
}
section {
    height: 300px;
    width: 60%;
    background-color: aquamarine;
    float: left;
}
aside {
    height: 300px;
    width: 40%;
    background-color: #16531e;
    float: left;
}
footer {
    height: 100px;
    background-color: #534a16;
}