* {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 2.3em;
}
div {
    width: 100px;
    height: 100px;
    border: 2px solid rgb(0, 195, 255);
    text-align: center;
    
}

section {
    height: 500px;
    width: 500px;
    margin: 0 auto;
    background-color: cadetblue;
    border: 2px dashed black;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: 
}
section > :nth-child(2n) {
    background-color: black;
    color: aliceblue;
    
}
section > :nth-child(2n+1) {
    background-color: white;
    
        
}
#A {
    width: 200px;
    height: 200px;
}